body {
  background-color: indigo;
  overflow-x: hidden;

}

div {
  border: red;
  height: auto;
  width: 400px;
  margin: 0 auto;
  line-height: 90%;
  padding: 0;
}

.site-navigation {
  position: fixed;
  background-color: rgba(23,2,58,.95);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;

}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 990px;
}

.primary-nav {
  margin-left: 5px;
}

.primary-nav_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.primary-nav_page {
  display: inline-block;
  position: relative;
  margin-right: -4px;
}

h1 {
  color: whitesmoke;
  font-family: Butler, Georgia, Times, 'Times New Roman', serif;
  margin: 15px;
  margin: 10;
  padding: 10;

}

p {
  font-family: 'Gill Sans', Arial, Helvetica,sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  padding: 14px 25px;
  width: 50%;
  max-width:100%;
  height:auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Gill Sans', Arial, Helvetica,sans-serif;
}

/* how to change attributes for different states, i.e. pseudo-selectors */
a:hover, a:active {
  color: darkorchid;
  text-decoration: none;
}

ul {
  font-family: 'Gill Sans', Arial, Helvetica,sans-serif;
  color: whitesmoke;
  padding: 20px;
}

ul li {
  color: goldenrod;
  padding: 2%;
  box-align: center;
}

/* how to change attributes for class, e.g. class="highlight" */
.highlight {
  color: yellowgreen;
  font-family: cursive;
}

/* how to change attributes for id, e.g. id="task". 
Use ID only if the tag is used once.
Ideally, don't use ID to style. */
#task {
  color: tomato;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}