body {
  background-image: url("images/cloudy-day.png");
  background-repeat: repeat;
  background-color: rebeccapurple;

}

h1 {
  color: fuchsia;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

img {
  display: block;
  width: 50%;
  border: 10px dotted orange;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
  background-color: blue;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* how to change attributes for different states, i.e. pseudo-selectors */
a:hover, a:active {
  background-color: hotpink;
  border-right: 3px dashed darkslategrey;
}

ul {
  font-family: 'Courier New', Courier, monospace;
  background: darkblue;
  padding: 20px;
}

ol {
  font-family: 'Courier New', Courier, monospace;
  background: peru;
  padding: 50px;
}

ul li {
  color: goldenrod;
}

/* how to change attributes for class, e.g. class="highlight" */
.highlight {
  color: yellowgreen;
  font-family: cursive;
}

/* how to change attributes for id, e.g. id="task". 
Use ID only if the tag is used once.
Ideally, don't use ID to style. */
#task {
  color: tomato;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}